<div class="container">
  <div class="row">

<!--Main-->
<main id = "main" class="col-md-10 ms-sm-auto col-lg-10">
    @if(option$){
      <div class="container">
        <!--Tab panel-->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="basic-settings-tab" data-bs-toggle="tab" data-bs-target="#basic-settings" type="button" role="tab" aria-controls="basic-settings" aria-selected="true">Basic</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pages-settings-tab" data-bs-toggle="tab" data-bs-target="#pages-settings" type="button" role="tab" aria-controls="pages-settings" aria-selected="false">Special Pages</button>
        </li>
      </ul>
      
      <div class="tab-content" id="myTabContent">
        <!--Basic Settings-->
        <div class="tab-pane fade show active" id="basic-settings" role="tabpanel" aria-labelledby="basic-settings-tab">
          <div  class="small section-body">
            <form [formGroup]="optionForm" (ngSubmit)="saveOption()">

              <div class="mb-3 row">
                  <label for="siteName" class="col-sm-2 col-form-label">Site title</label>
                  <div class="col-sm-10">
                    <input formControlName="siteName" name="siteName" #siteName class="form-control" id="siteName" required>
                  </div>
                </div>
          
                <div class="mb-3 row">
                  <label for="tagline" class="col-sm-2 col-form-label">Tagline</label>
                  <div class="col-sm-10">
                    <input formControlName="tagline" name="tagline" #tagline class="form-control" id="tagline">
                  </div>
                </div>
      
          
                <div class="mb-3 row">
                  <label for="siteLanguage" class="col-sm-2 col-form-label">Site Language</label>
                  <div class="col-sm-10">
                      <select formControlName="siteLanguage"  #selectedSiteLanguage   id="siteLanguage"  class="form-select" aria-label="" >
                          <option *ngFor="let sl of config.SITE_LANGUAGE;index as i" [ngValue]="sl">{{sl}}</option>
                        </select>
                  </div>
                </div>
          
                <!--Date Format-->
                <div class="mb-3 row">
                  <label for="dateFormat" class="col-sm-2 col-form-label">Date Format</label>
                  <div class="col-sm-10" id="dateFormat">
                  <div *ngFor="let df of config.DATE_FORMAT" class="form-check">
                      <input formControlName="dateFormat" name="dateFormat" class="form-check-input" type="radio" id="dateFormat-{{df}}" value="{{df}}">
                      <label class="form-check-label" for="dateFormat-{{df}}">{{df}}</label>
                    </div>
      
                  </div>
                </div><!--#Date Format-->
          
                <!--Time Format-->
                <div class="mb-3 row">
                  <label for="timeFormat" class="col-sm-2 col-form-label">Time Format</label>
                  <div class="col-sm-10" id="timeFormat">
  
                  <div *ngFor="let tf of config.TIME_FORMAT" class="form-check">
                      <input formControlName="timeFormat" name="timeFormat" class="form-check-input" type="radio"  id="timeFormat-{{tf}}" value="{{tf}}">
                      <label class="form-check-label" for="timeFormat-{{tf}}">{{tf}}</label>
                    </div>
          
                    </div>
                </div><!--#Time Format-->
          
                
          <!--Time zone-->
                <div class="mb-3 row">
                  <label for="timeZone" class="col-sm-2 col-form-label">Time Zone</label>
                  <div class="col-sm-10">
                      <select formControlName="timeZone" #selectedTimeZone  id="timeZone"  class="form-select" aria-label="" >
                          <option value="Lagos">Lagos</option>
                            <option value="Toronto">Toronto</option>
                        </select>
                  </div>
                </div><!--#Time zone-->
  
                <!--Currency-->
          
                <div class="mb-3 row">
                  <label for="currency" class="col-sm-2 col-form-label">Currency</label>
                  <div class="col-sm-10">
                      <select formControlName="currency" #selectedCurrency  id="currency"  class="form-select" aria-label="" >
                          <option *ngFor="let c of config.CURRENCY" value="{{c}}">{{c}}</option>
                        </select>
                  </div>
                </div><!--#Currency-->
          
          
                <!--Theme-->
                <div class="mb-3 row">
                  <label for="activeTheme" class="col-sm-2 col-form-label">Theme</label>
                  <div class="col-sm-10" id="activeTheme">
                  <div *ngFor="let at of config.ACTIVE_THEME" class="form-check">
                      <input formControlName="activeTheme" name="activeTheme" class="form-check-input" type="radio" id="activeTheme-{{at}}" value="{{at}}">
                      <label class="form-check-label" for="activeTheme-{{at}}">{{at}}</label>
                    </div>
                    
                    </div>
                </div><!--#Theme-->
  
                <!--Icon-->
          
                <div class="mb-3 row">
                  <label for="icon" class="col-sm-2 col-form-label">Site Icon </label>
                  <div class="col-sm-10">
                    <app-image-handler [imageUrl]="option$.iconUrl" (outPutMessage)="saveImageUrl($event,'icon')">
                      @if(option$.iconUrl){
                        Change
                      }@else {
                        Add
                      }
                       </app-image-handler>
                  </div>
                </div>  <!--#Icon-->
  
           <!--Logo-->
                <div class="mb-3 row">
                  <label for="logo" class="col-sm-2 col-form-label">Site Logo </label>
                  <div class="col-sm-10">
                    <app-image-handler [imageUrl]="option$.logoUrl" (outPutMessage)="saveImageUrl($event,'logo')">
                      @if(option$.logoUrl){
                        Change
                      }@else {
                        Add
                      }
                       </app-image-handler>
                  </div>
                </div><!--#Logo-->
  
                <button [disabled]="!optionForm.valid" class="btn btn-primary float-end">Save</button>
          
              </form>
     
        </div>
    </div><!--#Basic settings-->
    
    <!--pages settings-->
        <div class="tab-pane fade" id="pages-settings" role="tabpanel" aria-labelledby="pages-settings-tab">
          <div  class="small section-body">
  
   
          </div>
        </div><!--#pages settings-->
      </div>
      <!--#Tab panel-->
          
        
       
      </div>




        
    }

   

</main><!--#Main-->

<!--Right sidebar-->
<div id="right-sidebar" class="sidebar border border-left col-md-2 col-lg-2 p-0 bg-body-tertiary">

</div><!--Right sidebar-->


  </div>
</div>
<!--Status message-->
     <div *ngIf="statusMessage" class="fixed-bottom">
      <app-error-message [(errorMessage)]="statusMessage" [(alertType)]="alertType"></app-error-message>
     </div>
     <!--Status message-->





