
<!--nav-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
       @if(option.siteName){
<a class="navbar-brand" routerLink="/{{username}}"><img [src]="option.logoUrl" width="60" height="60"/></a>
    }
    @if(option.siteName){
<a class="navbar-brand" routerLink="/{{username}}">{{option.siteName}}</a>
    }
    @else {
<a class="navbar-brand" routerLink="/{{username}}/home/{{option.homePageId}}">Home</a>
    }
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngFor="let m of menu">
          @if(m.children.length==0){
            <a class="nav-link" aria-current="page" routerLink="/{{m.link}}">{{m.label}}</a>
          }
          @else {
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             {{m.label}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let c of m.children"><a class="dropdown-item"   routerLink="/{{c.link}}" >{{c.label}}</a></li>
  
            </ul>

          }

        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <span><a routerLink="/{{username}}/login">Login</a></span>
    </div>
  </div>
</nav><!--#nav-->



  