.btn,.sp-bg-color{
    background-color: #0d6efd;
    color: #fff;
}

.sp-link-bg-color{
    background-color: gray;
    color: #fff;
}

.sp-border-dashed{
    border:1px dashed #0d6efd;
}
/* .sp-component .sp-cm-sp-rich-text{
display:none;
}

.sp-cm{
display:none;
} */