<div class="container">
       @if(category$){
        <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
          <div class="mb-3">
            <label for="new-category-name" class="form-label">Name</label>
            <input formControlName="name" class="form-control" id="new-category-name">
          </div>
          
          <div class="mb-3">
            <label for="new-category-parent" class="form-label">Parent Category</label>
          <select   id="new-category-parent" formControlName="parentName"  class="form-select" aria-label="" >
            <option *ngIf="category$.id==-1" selected>None</option>
          
              <option  *ngFor="let cat of categories$" [ngValue]="cat.name">{{cat.name}}</option>
            
                  </select>
          </div>
    <!---->
    
          <div class="mb-3">
            <label for="new-category-description" class="form-label">Description</label>
            <textarea formControlName="description" class="form-control" id="new-category-description" rows="3">{{category$.description}}</textarea>
          </div>
          <div class="modal-footer">
          <button class="btn btn-primary" type="submit" data-bs-dismiss="modal" [disabled]="!categoryForm.valid">Add</button>
        </div>
          </form>

       }
  </div>