
        
          <div class="card-body">
            <input hidden="hidden" #imageFile (change)="handleImage(imageFile )" type="file" accept="image/*">
          <button type="button" class="btn"  (click)="imageFile.click()"><i class="bi bi-image"></i>
            <ng-content></ng-content>
          </button>
          <div id="previewImage" class="mt-3">
            <!-- <p><img [src]="imageUrl" #image   style="width: 50%;height: 50%;"/></p> -->
            <p><img id="image" [src]="imageUrl" #image   class="img-fluid"/></p>
          </div>
          </div>

          
       